<div class="home-page">
    <h1 class="h1 home-header text-center">Who What Where</h1>

    <div class="search-box">
        <h2 class="h2 text-center">Find the best places you want.</h2>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 top-mar">
                <input class="form-control" type="text" placeholder="What?" ng-model="item"/>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 top-mar">
                <input class="form-control" type="text" placeholder="where?" ng-model="location"/>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 top-mar">
                <a class="btn btn-info btn-md" ng-click="onButtonClick()">
                    <span class="glyphicon glyphicon-search"> Search</span>
                </a>
            </div>
        </div>
    </div>
</div>